# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
Timepass/
MyMusic/Ideaprojects/
Jarvis/.DS_Store
DSA SERIES CODECHEF/
AndroidCourseZainFarhan/
Covid-19 React/.DS_Store
Jarvis/.DS_Store
